<nav class="flex justify-between items-center bg-white shadow px-6 py-4 sticky top-0 z-50">
    <div class="flex items-center gap-3">
      <img
        src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
        alt="Pin Logo"
        class="w-10 h-10 object-contain"
      />
      <span class="text-xl font-bold text-pinterest text-red-600"><a href="/profile">Pinclone</a></span>
    </div>
    <div class="flex items-center gap-4">
      <a href="/users/users" class="px-4 py-2 rounded-md text-red font-medium">Users</a>
      <a href="/feed" class="px-4 py-2 rounded-md text-red font-medium">Feeds</a>
      <a href="/logout" class="px-4 py-2 rounded-md text-red-600 font-medium">Logout</a>
    </div>
  </nav>
  